@model FinalProject.ViewModels.SigninViewModel
<html>
<head>
    <style>
        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .75rem;
        }

        body {
            background: #648880;
            background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
        }

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

            .card-signin .card-title {
                margin-bottom: 2rem;
                font-weight: 300;
                font-size: 1.5rem;
            }

            .card-signin .card-body {
                padding: 2rem;
            }

        .form-signin {
            width: 100%;
        }

            .form-signin .btn {
                font-size: 80%;
                border-radius: 5rem;
                letter-spacing: .1rem;
                font-weight: bold;
                padding: 1rem;
                transition: all 0.2s;
            }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

            .form-label-group input {
                height: auto;
                border-radius: 2rem;
            }

            .form-label-group > input,
            .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x);
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pharmacy Login Form</h5>

                        <form asp-controller="Account" asp-action="Signin" method="post">
                            <div class="form-group">
                                <i><label asp-for="PharmacyName"></label></i>
                                &nbsp; &nbsp;
                                <input asp-for="PharmacyName" class="form-control" placeholder="Enter Pharmacy Name" />
                                <span asp-validation-for="PharmacyName" style="color:red;"></span>

                            </div>
                       
                            <div class="from-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <i> <label asp-for="Password"></label></i>
                            &nbsp;&nbsp;
                            <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                            <span asp-validation-for="Password" style="color:red;"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="RememberMe"></label>
                                <input asp-for="RememberMe" />
                                <span asp-validation-for="RememberMe"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" />
                            </div>
                        </form>
                        <p><a asp-controller="Account" asp-action="Signup">If you Don't have Account Create Account</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
