<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
       Drug Disposal 
        <small>Collecting Left of medicine</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/Images/expired.jpg" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="my-3">Need for Drug Disposal</h3>
            <p>
                US Pharm. 2011;36(7):52-55.

                Almost 40% of Americans receive prescriptions for four or more medications per year, and half of the medications taken by Americans each year are used incorrectly.1 As part of the health care team, pharmacists are in the forefront of tackling the issues of medication misuse and poor medication adherence, often labeled as “America’s other drug problem.”2
            </p>
            <h3 class="my-3">Website Details</h3>
           
