<html>
<head>
    <style>
        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .75rem;
        }

        body {
            background-color:gray;
        }
        
    </style>
</head>
<body>
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">
            Disposal of Unwanted Medicines
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="~/Images/drug-disposal.jpg" alt="left of medicines">
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Need for Drug Disposal</h3>
                <p>
                    Prescription of more opioid drug result in leftover pills that are available for diversion and inappropirate drug use. According to multiple studies, excessive opioid drugs prescribed for all surgical and emergency visits for pain. This excessive presciption may result large amount of drug leftover for diversion. The presence of higher quantity prescription associated with more patient request for opioid drugs. Among those who abuse opioid drug, more than 70% obtain via diversion, and other 40 - 50% receive from family and friend leftover.
                    Carlos A Pino (MD). 2019. Prescription of opioids for Acute Pain in Opioid Naive Patients: Scott Fishman (MD) and Marianna Croley (MD), eds.
                </p>
               </div>

                </div>
             
                        <h3 class="my-3">Use Disposal of Unwanted Medicines</h3>
                        <p>
                            According to the Centers for Disease Control and Prevention report every year more than 60, 000 children were ended up with emergency hospital admission from taking unwanted medicines when families not at home or looking. In addition, leftover prescriptions medicines is an easy sources for someone who thinking for abusing medicines. The best mechanisms to dispose of an unwanted, old, unused, and expired medicine is to drop off or request collecting organization for pick up the medicine at medicine collect site. The main objective of this project to simplify for elderly, people with disabilities, someone do not get transportation access, and anyone interested to request medicine disposal from home.

                            In St. Louis city, there are limited medicines disposal locations. Even if the location exist, it requires someone to take a medicine at specific drop of locations. The creation of “Disposal of Unwanted Medicines” website will make easy for everyone want to request services.
                        </p>
                       


</body>
</html>